/* Style for all pages */
body{
  background-color: red;
}
/* End style for all pages */

/* Start homepage styling */

/* End homepage styling */

/* Start our story styling */
h1{
  text-align: center;
  font-family:sans-serif;
}
h3{
  text-align: center;
    font-family: sans-serif;
  }

  img{image-orientation: center;


  }


/* End our Story styling */

/* Start sponsers styling */

/* End sponsers styling */

/* Start contact us stying */

/* End contact us styling */
``
